.message-container {
    display: flex;
    height: 35rem;
    overflow: scroll;
    padding: 1rem 0
}

.message-row {
    width: 100% !important;
    height: 4.5rem !important;
    display: flex !important;
    flex-direction: column !important;
    /* flex-wrap: nowrap; */
}

.left-container {
    display: flex;
}

.message-right {
    background-color: rgb(231, 229, 229) !important;
    align-self: flex-end;
    border-radius: 5px;
}
.message-left {
    background-color: rgb(247, 247, 247) !important;
    /* align-self: flex-start; */
    border-radius: 5px;
    display: inline-block;
    margin-left: .75rem;
}

.message-avatar {
    /* align-self: flex-start; */
    border-radius: 5%;
    height: 3rem;
    width: 3rem;
    margin-left: .3rem;
    display: inline-block;
}

/* USER COMPONENT */
.myChats-container {
    padding: 0 !important;
}

.userChat-row {
    padding: 0 auto !important;
    justify-content: flex-start !important;
}

.userChat-button {
    display: flex !important;
    padding: 0 !important;
    border: 1px solid rgb(209, 209, 209) !important;
}

.userChat-col1 {
    display: flex;
    padding-left: .5rem;
}

.userChat-col2 {
    display: flex;
    padding-left: .5rem;
    padding: 1.1rem 0;
}

.userChat-avatar {
    border-radius: 5%;
    height: 3rem;
    width: 3rem;
    display: inline-block;
    margin: 1rem 0 1rem .3rem;
}