.userAddImage {
    width: fit-content;
    height: 150px;
}
.userAdd{
        max-width: 400px;
}

.userAddCol{
        min-width: 200px;
}
.text-Add-small p{
    margin:0;
    padding:0;
}

.listGroup{ 
     margin:0;
    padding:0;
}