*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel img {
  height: 500px;
  margin: 40px 0;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

/* custom buttons */
.btn-custom {
  border: 1px solid #6c757d;
  color: #6c757d
} 
